body{
   background-color: rgba(104, 138, 189, 0.301);
}
.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;

}
.footer-color{
    background-color: azure;
}